<style>
.main-ng-view {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  padding-top: 56px;
  display: table;
}

.main-box {
  vertical-align: middle;
  display: table-cell;
  width: 100%;
}

.tile {
  position: relative;
  display: table;
  height: 30%;
  margin: 1%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes move-up-down {
  0% {background-position: center 25%;}
  12% {background-position: center 0%;}
  62% {background-position: center 100%;}
  100% {background-position: center 25%;}
}

.tile:hover {
  animation-name: move-up-down;
  animation-duration: 20s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  text-decoration: none;
  cursor: pointer;
}

#paintings {
  background: url('http://ultraimg.com/images/0yS4A9e.jpg');
  background-position: center 25%;
}

#sculptures {
  background: url('http://ultraimg.com/images/hzQ2IGW.jpg');
  background-position: center 25%;
}

#installations {
  background: url('http://ultraimg.com/images/bNeWGWB.jpg');
  background-position: center 25%;
}

.tile .text {
  vertical-align: middle;
  display: table-cell;
  width: 100%;
  font-size: 2em;
  font-weight: bold;
  color: white;
  /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
  text-shadow: 2px 2px black;
}
</style>

<div class="container main-box">
  <a class="container center tile" id="paintings"
    href='#/works?filter={"type":"painting"}'>
    <div class="text">PAINTINGS</div>
  </a>
  <a class="container center tile" id="sculptures"
    href='#/works?filter={"type":"sculpture"}'>
    <div class="text">SCULPTURES</div>
  </a>
  <a class="container center tile" id="installations"
    href='#/works?filter={"type":"installation"}'>
    <div class="text">INSTALLATONS</div>
  </a>
</div>
