<style>
.work-tile {
  display: block;
  padding: 15px 0 15px 0;
}
.work-tile:hover {
  text-decoration: none;
  cursor: pointer;
}
.pad-helper {
  position: relative;
  left: 4%;
  width: 90%;
  left: calc(15px);
  width: calc(100% - 30px);
}
.work-tile .square {
  width: 100%;
  padding-bottom: 100%;
  background-size: cover;
}
.work-tile .square .text-box {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  display: table;
}
.work-tile .square .text-box .text-inner {
  vertical-align: middle;
  display: table-cell;
  height: 100%;

  font-size: 1.5em;
  font-weight: bold;
  color: white;
  /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
  text-shadow: 2px 2px black;
}

/* SVG border animation */
.work-tile svg {
  position: absolute;
  top: 0;
  left: 0;
}
.work-tile svg line {
  stroke-width: 3;
  stroke: #000000;
  fill: none;
  transition: all 1s ease-in-out;
}
.work-tile:hover svg line {
  transition-delay: 0.1s;
}
.work-tile svg line {
  stroke-dasharray: 100% 100%;
}
.work-tile:hover svg line.top {
  transform: translateX(-66.66%);
}
.work-tile:hover svg line.bottom {
  transform: translateX(66.66%);
}
.work-tile:hover svg line.left {
  transform: translateY(66.66%);
}
.work-tile:hover svg line.right {
  transform: translateY(-66.66%);
}
</style>

<h1 class="center title" ng-if="pageHeading">{{pageHeading}}</h1>
<div class="container">
  <div class="col-md-10 col-md-offset-1">
    <a class="col-md-4 work-tile"
      ng-repeat="work in works | orderBy:'creationDate'"
      href="#/work/title/{{work.title}}">
      <div class="pad-helper">
        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
          <line class="top" x1="0" y1="0" x2="300%" y2="0"></line>
          <line class="left" x1="0" y1="100%" x2="0" y2="-200%"></line>
          <line class="bottom" x1="100%" y1="100%" x2="-200%" y2="100%"></line>
          <line class="right" x1="100%" y1="0" x2="100%" y2="300%"></line>
        </svg>
        <div class="square"
          style="background-image: url('https://placehold.it/200x200');">
          <div class="text-outer"
            style="height: 100%; width: 100%; position: absolute">
            <div class="text-box center">
              <div class="text-inner">
                {{work.title}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>